{% extends 'blog/base.html' %}
{% block content %}
    <style>
      b{
        text-align: center;
        color: red;
        }
      p{
        color: #e3b302;
      }
    </style>
    <h1>About Page</h1> <br><br><br>
    <p align="center">The webpage was created for the sole purpose of testing<br>
      New Users Can be created using the register button <b> <br>You need to Login for posting your content</b> <br>
      <b>Contents found violating the terms of condition will be deleted</b> <br>
      <b>Users found violating the terms of conditions will be deactivated</b> <br>
      A summary to the post is always appreciated as people can know whether your topic is intersting as the title <br>
      <br><br>
      <b>Users can always contact the admin for help</b>

    </p>
{% endblock content %}
